header {
   background-color: #500000;
   padding: 10px;
   text-align: left;
}
h1 {
   color: white;
   font-size: 24px;
   margin: 0;
   font-family: Verdana;
}
body{
   background-color: bisque; 
}
.links {
    color:aliceblue;
    text-decoration: none;
    padding: 10px;
    text-align: right;
    margin-left: 10px;
    font-family: Verdana;
}