body{
    background-color:rgb(10, 10, 15);
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.box:first-child {
    border-right: 1px solid #363636;
    padding-right: 60px;
}
    
.cap{
    color:white;
    font-family: Inter, system-ui, 'Segoe UI', sans-serif;
    font-size: 32px;
    font-weight: normal;
}
#story{
    margin-left:80px;
}
.caption{
    color:white;
    font-family: Inter, system-ui, 'Segoe UI', sans-serif;
    font-size: 1em;
    font-weight: normal;
}
#logo{
    margin-left: 10px;
    margin-top: 10px;
}
#usname, #pass {
    display: block;
    width: 260px;
    padding: 12px;
    margin-bottom: 8px;
    background-color: rgb(10, 10, 15);
    border: 1px solid #363636;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}
label {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}
button[type="submit"] {
    width: 268px;
    padding: 8px;
    background-color: #0a5dc2;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
button[type="button"] {
    width: 268px;
    padding: 8px;
    background-color: transparent;
    color: #4599ff;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

a {
    color: #4599ff;
    text-decoration: none;
    font-size: 14px;
}
